<!DOCTYPE html>
<html lang="br"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultra.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Formulario</title>
</head>
<body>
    <h1>Formulario de cadastro do Evento:</h1>
    <form method="post">
        <br><label>Nome:</label><br>
        <input type="text", value="", name="nome", placeholder="Digite o nome do evento"/>
        <br><label>Local:</label><br>
        <input type="text", value="", name="local">
        <br><label>Data</label><br>
        <input type="text", value="", name="data">
        <br><label>Horario</label><br>
        <input type="text", value="", name="horario">

        <button type="submit">Salvar</button>

    </form>



</body>
</html>




